<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="stylesheet/homestyle.css">
        <link rel="stylesheet" href="stylesheet/taskcard.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="headerClass">
            <button class="topMenuBtn">
                <span class="material-symbols-outlined iconColor">
                    menu
                </span>
            </button>
            
            <div class="headerClass" style="justify-content:center;">
                <h2>TimeStone</h2>
            </div>
            <div>
                <span class="material-symbols-outlined iconColor">
                    settings
                </span>
        
                <span class="material-symbols-outlined iconColor">
                    person
                </span>
            </div>
        </div>

        
        <section class="mainSection">
            <%- include('navbar.ejs') %>

            <div class="taskDetails">
                <% for (let index = 0; index < taskdetails.length; index++) { %>
                    <% let i = taskdetails[index]; %>
                    <% let taskcolor ; %>
                    <% if (i.priority == "priority1") { %>
                        <% taskcolor = "red";%>
                    <% } %>
                    <% if (i.priority == "priority2") { %>
                        <% taskcolor = "yellow";%>
                    <% } %>
                    <% if (i.priority == "priority3") { %>
                        <% taskcolor = "green";%>
                    <% } %>
                    <% let taskbg = `border-color : ${taskcolor};` ; %>
                    
                    <div class="taskCard" style ="<%= taskbg %>">
                        <div class="sno">
                            <h3><%= index + 1 %></h3>
                        </div>
                        <div class="taskName">
                            <%= i.taskName %>
                        </div>
                        <div class="time">
                            <%= i.startTime %>&nbsp;-&nbsp;<%= i.endTime %>
                        </div>
                        <div class="checkbox">
                            <label class="container">
                                <input type="checkbox" name ="<%=i.taskName%>" value="true" class="tasks">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                <% } %>
            </div>
        
            <div class="addTaskdiv">
                <div>
                    <button class="add-task">
                        <span class="material-symbols-outlined" style="width: 20%;text-align: center;">
                            add_circle
                        </span>
                        <span> Add Task</span>
                    </button>
                </div>
                <div>
                    <form action="/task" method="post">
                    <div class="popup">
                        <div>
                            <label for="input" style="color: whitesmoke;font-size: large;">Enter Task</label>
                        </div>
                        <div class="mainSection" style="justify-content: space-around;">
                            <input type="text" class="Taskinput" name="taskName" placeholder="Enter your task">
                        </div>
                        <div class="prioritydiv">
                            <label for="priority" class="priorityLabel"> <span class="material-symbols-outlined">flag</span> </label>
                            <select class="priority" name="priority" id="priority">
                                <option value="priority1">priority1</option>
                                <option value="priority2">priority2</option>
                                <option value="priority3">priority3</option>
                            </select>
                        </div>
                        <div class="timediv">
                            <input type="time" name="startTime" id="startTime">
                            <p>-</p>
                            <input type="time" name="endTime" id="endTime">
                        </div>
                        <div>
                            <input class="addTask" type="submit" value="Save" > </input>
                        </div>
                            
                    </div>
                    </form>
                </div>
            </div>
    </section>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="javascript/home.js"></script>
    </body>
</html>